<Alloy>
    <TableView backgroundColor="#002e3e">
      <TableViewSection id="sectionMenu" onClick="onSelect">
        <Require src="menurow" id="cover" controller="main"/>
        <Require src="menurow" title="Subjects" controller="main"/>
        <Require src="menurow" title="Calendar" controller="calendar"/>
        <Require src="menurow" title="About" controller="about"/>
      </TableViewSection>
    </TableView>
</Alloy>